.articlecontainer {
    outline: 2px grey dashed;
    margin: 2rem;
}

.articlecontainer h1{

}

.articlecontainer h3{

}

.articlecontainer p{

}

.imagecontainer {
    width: 800px;
    position: relative;
    height: 550px;
}
