.largecontainer h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: grey;
    text-decoration: none;
}

.largecontainer h1 {
    text-transform: uppercase;
    font-size: 2.3rem;
    margin-right: 1rem;
}

.largecontainer:hover h1 {
    text-decoration: underline;
}

.smallcontainer h1 {
    font-size: 1.2rem;
    margin: 0.3rem 0;
}

.smallcontainer h3 {
    margin: 0.3rem 0;
    color: grey;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.smallcontainer:hover h1 {
    text-decoration: underline;
}

.largeimagecontainer {
    position: relative;
    max-width: 95%;
    height: 400px;
}

.smallimagecontainer {
    position: relative;
    max-width: 250px;
    height: 180px;
}